.agent-root {
    display: flex;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.setting-header {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 18px;
}

.agent-setting-wrap {
    display: flex;
    flex-direction: column;
    width: 24%;
    background: white;
    padding: 12px;
}

.agent-desc-wrap {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
}

.desc-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 18px;
}

.flow-img {
    width: 60%;
    height: 80%;
    cursor: pointer;
    align-self: center;
}

.large-image {
    max-width: 40%;
    max-height: 60%;
    /* 限制图片高度为视口高度 */
    object-fit: contain;
    /* 保持图片比例 */
}

.desc-text {
    font-size: 16px;
    line-height: 1.5;
}

.switch-hint {
    margin-left: 8px;
}