/* variables.css */
:root {
    --primary-color: #5989F7;
    --chat-background-color: #F5F5F5;
    --chat-background-color-hover: #EAEAEA;
    --chat-user-backgroud-color: #E0DFFF;
    --primary-text-ccolor: #B5BCC4;
}